<footer class="main-footer {% if isHome %}home{% endif %}">
  <span class="line"></span>
  <div class="main-footer-container">
    <div class="main-footer-container-item logo">
      <a href="/">
        <img src="{{ asset('images/footer-logo.png', 'theme') }}" class="footer-icon" width="50px" />
      </a>
    </div>
    <div class="main-footer-container-item">
      <a href="mailto:hello@bipolarstudio.com">hello@bipolarstudio.com</a>
    </div>
    <div class="main-footer-container-item address">
      <a href="https://www.google.co.uk/maps/place/1308+Factory+Pl,+Los+Angeles,+CA+90013,+USA/@34.03892,-118.2377246,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2c624a95139b5:0xf3f31d37e02df42!8m2!3d34.0389156!4d-118.2355359" target="_blank">
        1308 Factory Place <br/>
        Los Angeles, California 90013 <br/>
        United states
      </a>
    </div>
    <div class="main-footer-container-item">
      <a href="http://vimeo.com" target="_blank" class="social-button"><img src="{{ asset('images/social-vimeo.png', 'theme') }}" width="30px"/></a>
      <a href="http://behance.com" target="_blank" class="social-button"><img src="{{ asset('images/social-behance.png', 'theme') }}" width="30px"/></a>
      <a href="http://facebook.com" target="_blank" class="social-button"><img src="{{ asset('images/social-facebook.png', 'theme') }}" width="30px"/></a>
      <a href="http://twitter.com" target="_blank" class="social-button"><img src="{{ asset('images/social-twitter.png', 'theme') }}" width="30px"/></a>
    </div>
    <div class="main-footer-container-item privacy">
      <a class="privacy-click">Privacy Policy</a>
    </div>
    <div class="main-footer-container-item text-right legal">
      <span>©2017 BIPOLAR STUDIO.</span>
      <span>All Rights Reserved</span>
    </div>
  </div>  
</footer>