{% extends 'partials/_master.twig' %}

  {% block main %}
    <video id="v0" tabIndex="0" autobuffer preload>
      <source type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot" src="{{ asset('images/about-video.mp4', 'theme') }}"></source>
    </video>
    <div class="about-bg">
      <section class="page-content container-fluid intro-animation-1 about-introduction">
          <div class="row valign">
            <div class="col-md-6 col-md-offset-3 text-center">
              <h3 class="about-title">WHO WE ARE</h3>
              <h2>
                <strong>Bipolar Studio</strong> is a high end, boutique
                production company located in the heart of the
                Arts District in Downtown Los Angeles.</h2>

                <h2>We execute stories & visuals merged biologically with
                 art, film, science and computer generated imagery to 
                create something radically new.</h2>

                <h2>Practicing traditional and VR.</h2>
              <span class="arrow-separator">
                <img src="{{ asset('images/arrow-separator.png', 'theme') }}" width="10px"/>
              </span>
            </div>
          </div>
      </section>

      <section class="what-we-do page-content container-fluid intro-animation-2">
          <span class="trigger trigger-2"></span>
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
              <br/><br/>
              <h3>WHAT WE DO</h3>
              <br/>
              <br/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 custom-large-container flush">
              <div class="what-we-do-item item-1 what-we-do-animate">
                <h1>We develop <br/><span>Ideas</span>.</h1>
              </div>
              <div class="what-we-do-item item-2 what-we-do-animate">
                <h1>We shoot <br/><span>films</span>.</h1>
              </div>
              <div class="what-we-do-item what-we-do-animate">
                <h1>We create <br/><span>CGI</span>.</h1>
              </div>
              <div class="what-we-do-item what-we-do-animate">
                <h1>We build <br/><span>VR</span>.</h1>
              </div>
              <div class="what-we-do-item item-5 what-we-do-animate">
                <h1>We play <br/><span>games</span></h1>
              </div>
            </div>
          </div>
      </section>

      <section class="definition page-content container-fluid intro-animation-3">
          <span class="trigger trigger-3"></span>
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
              <br/><br/>
              <h3>DEFINITION & MEANING</h3>
              <br/>
              <br/>
            </div>
          </div>
          <div class="row definition-anim">
            <div class="col-sm-4 col-sm-offset-1 text-right mobile-center">
              <h1>Positive Energy</h1>
            </div>
            <div class="col-sm-2 text-center">
              <h1 class="plus">+</h1>
            </div>
            <div class="col-sm-4 mobile-center">
              <h1>Negative Energy</h1>
            </div>
          </div>
          <div class="row definition-anim">
            <div class="col-sm-4 col-sm-offset-1 text-right mobile-center">
              <h1>Life</h1>
            </div>
            <div class="col-sm-2 text-center">
              <h1 class="plus">+</h1>
            </div>
            <div class="col-sm-4 mobile-center">
              <h1>Death</h1>
            </div>
          </div>
          <div class="row definition-anim">
            <div class="col-sm-4 col-sm-offset-1 text-right mobile-center">
              <h1>Left Brain</h1>
            </div>
            <div class="col-sm-2 text-center">
              <h1 class="plus">+</h1>
            </div>
            <div class="col-sm-4 mobile-center">
              <h1>Right Brain</h1>
            </div>
          </div>
      </section>

      <section class="page-content container-fluid intro-animation-4">
          <span class="trigger trigger-4"></span>
          <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 text-center">
              <h2><strong>Within this duality...</strong></h2>
              <h2 style="margin-bottom: 0">
                An incredible source of energy exists. Every great idea had been generated, and 
                <strong>Bipolar Studio</strong> was born.
              </h2>
            </div>
          </div>
      </section>

      <section class="page-content history container-fluid intro-animation-5">
          <span class="trigger trigger-5"></span>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h3>HISTORY</h3>
              <h2>Bipolar Studio started back in 2008. It has pioneered multiple powerful VR campaigns. Each short film in our MINI VR campaign collected 1 million youtube views within a week of release.</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-2">
              <p>
                Soon after, New York Times acquired the films to launch its NYTVR and gave away 1 million Google Cardboards for viewing. The app along with our  featured work NYT won the Mobile Grand Prix at Cannes. 
              </p>
            </div>
            <div class="col-md-4">
              <p>
                Most recently our Google “Daydream” project was set-up as a demo in 10,000 stores across the world to promote Google’s new VR headset. It also comes on every new Google Pixel phone. 
              </p>
            </div>
          </div>
      </section>

      <section class="page-content container-fluid clients intro-animation-6">
          <span class="trigger trigger-6"></span>
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
              <h3>CLIENTS</h3>
              <br/><br/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <div class="logo-container">
                <img src="{{ asset('images/clients/1.png', 'theme') }}" width="100%"/>
              </div>
              <div class="logo-container">
                <img src="{{ asset('images/clients/2.png', 'theme') }}" width="100%"/>
              </div>
              <div class="logo-container">
                <img src="{{ asset('images/clients/3.png', 'theme') }}" width="100%"/>
              </div>
              <div class="logo-container">
                <img src="{{ asset('images/clients/4.png', 'theme') }}" width="100%"/>
              </div>
              <div class="logo-container">
                <img src="{{ asset('images/clients/5.png', 'theme') }}" width="100%"/>
              </div>
              <div class="logo-container">
                <img src="{{ asset('images/clients/6.png', 'theme') }}" width="100%"/>
              </div>
              <div class="logo-container">
                <img src="{{ asset('images/clients/7.png', 'theme') }}" width="100%"/>
              </div>
              <div class="logo-container">
                <img src="{{ asset('images/clients/8.png', 'theme') }}" width="100%"/>
              </div>
              <div class="logo-container">
                <img src="{{ asset('images/clients/9.png', 'theme') }}" width="100%"/>
              </div>
              <div class="logo-container">
                <img src="{{ asset('images/clients/10.png', 'theme') }}" width="100%"/>
              </div>
              <div class="logo-container">
                <img src="{{ asset('images/clients/11.png', 'theme') }}" width="100%"/>
              </div>
              <div class="logo-container">
                <img src="{{ asset('images/clients/12.png', 'theme') }}" width="100%"/>
              </div>
              <div class="logo-container">
                <img src="{{ asset('images/clients/13.png', 'theme') }}" width="100%"/>
              </div>
              <div class="logo-container">
                <img src="{{ asset('images/clients/14.png', 'theme') }}" width="100%"/>
              </div>
            </div>
          </div>
      </section>

      <section class="page-content project-navigation container-fluid">
        <div class="row">
          <div class="col-sm-4">
          </div>
          <div class="col-sm-4 text-center">
            <a href="#" class="page-navigation-link page-up">
              Back to top<br />
              <img src="{{ asset('images/page-arrow-up.svg', 'theme') }}" height="12px"/>
            </a>
          </div>
          <div class="col-sm-4 text-right">
          </div>
        </div>
      </section>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>

      <script src="{{ asset('js/about.js', 'theme') }}"></script>
      
  </div>

  {% include 'partials/_footer.twig' %}

  <!-- 

  - Video full viewport
  - explore video jump
  - Video close on top right.
  - Grain for background.
  - Spacing of client bounds. DONE
  - Appears too soon. DONE
  - Delay on smaller elements DONE
  - Footer copyright DONE
  - Left justified DONE
  - Mobile image

-->

  {% endblock main %}
   